.nomeTop{
    color: #171725;
    font-size: 214px;
    font-weight: 600px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 218px;
    height: 36px;
    top: 48px;
    left: 150px;

}